.responsive {
  width: 100%;
  height: auto;
}

.img__container {
  height: auto;
  margin-bottom: 4rem;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -9rem;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photo {
  width: 10rem;
  border: 0.2rem solid #929494;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 3rem;
}

.name {
  font-size: 1.9rem;
  line-height: 2.5rem;
  font-weight: 400;
  -moz-osx-font-smoothing: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.description {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
  -moz-osx-font-smoothing: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}