.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
    
   &-items {
      padding: 1rem;
   }
}    
  /* .dialogs {
      border-bottom: 0.2rem solid #cedeebn;
    }*/

.messages {
   padding: 1rem;
}

.nav-link-font {
   font-family: serif;
   width: 100%;
}